<div class="row">

    <div class="col-md-3" ng-controller="ProjectsCtrl">
        <h3>Projects</h3>

        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="project in projects"
                ng-mouseenter="show_delete_icon = true"
                ng-mouseleave="show_delete_icon = false">
                <a href="#" ng-click="select_project(project.id)">
                    {{ project.title }}
                    <span class="btn btn-danger pull-right btn-xs"
                            ng-click="remove_project(project.id)"
                            ng-show="show_delete_icon">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                </a>
            </li>
        </ul>

        <br />

        <button class="btn btn-primary btn-block"
                ng-show="!new_project_show"
                ng-click="new_project_show = !new_project_show">New Project</button>

        <form ng-show="new_project_show" class="">
            <div class="form-group">
                <input type="text" ng-model="new_project.title" class="form-control">
                <br />
                <textarea class="form-control" ng-model="new_project.description"></textarea>
            </div>
            <button class="btn btn-primary btn-block" ng-click="add_project()">Add</button>
        </form>

    </div>

    <div class="col-md-9" ng-controller="TreeCtrl" ng-show="current_project.title" ng-init="node = {id: null}">
        <div class="row">
            <h3 class="col-md-6">
                {{ current_project.title }}
                <button class="btn btn-primary btn-sm pull-right" ng-click="make_pdf()">
                    <i class="glyphicon glyphicon-download-alt"></i>&nbsp;
                    to PDF
                </button>
            </h3>
        </div>

        <div id="project" style="background-color: #FFFFFF">
            <p>{{ current_project.description }}</p>

            <div class="row">
                <div class="col-md-6">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" ng-style="{width: 100 * get_progress().done / get_progress().total + '%'}">
                            {{ get_progress().done }} / {{ get_progress().total }}
                        </div>
                    </div>
                </div>
            </div>

            <div ng-include="'tree_item_renderer.html'"></div>
        </div>
    </div>

</div>

<script type="text/ng-template"  id="tree_item_renderer.html" class="main_child">

    <span class="node_element" ng-mouseenter="node.hover = true" ng-mouseleave="node.hover = false">

        <span ng-show="!is_pdf_rendering">
            <button ng-click="hide_childs = true" ng-show="!hide_childs" class="btn btn-default btn-sm"
                    ng-class="{disabled: !get_childs(node.id).length}">
                <i class="glyphicon glyphicon-expand"></i>
            </button>
            <button ng-click="hide_childs = false" ng-show="hide_childs" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-collapse-down"></i>
            </button>

            <button ng-click="add_child(node.id)" class="btn btn-primary btn-sm">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </span>

        <span ng-hide="node.edit || node.id == null">

            <input type="checkbox" ng-model="node.done" ng-change="save_project()" ng-show="!is_pdf_rendering">
            <span ng-show="is_pdf_rendering">
                <i class="glyphicon glyphicon-check" ng-show="node.done"></i>
                <i class="glyphicon glyphicon-unchecked" ng-show="!node.done && node.id != null"></i>
            </span>

            {{ indexes[node.id] }}
            <span ng-class="{done: node.done}">{{node.name}}</span>
        </span>

        <input type="text" class="" ng-model="node.name" ng-show="node.edit"
               custom-autofocus="node.id == focus_id" ng-keypress="press($event, node)">

        <span ng-show="node.hover && node.id != null" class="right-controls">
            <button ng-click="node.edit = true; focus_id = node.id"
                    ng-show="!node.edit"
                    class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button ng-click="delete_node(node.id)"
                    class="btn btn-danger btn-sm">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </span>
    </span>

    <ul ng-hide="hide_childs" class="childs">
        <li ng-repeat="node in get_childs(node.id)" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>