<div class="row">

    <div class="col-md-3" ng-controller="ProjectsCtrl">
        <h3>Projects</h3>

        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="project in projects"
                ng-mouseenter="show_delete_icon = true"
                ng-mouseleave="show_delete_icon = false">
                <a href="#" ng-click="select_project(project.id)">
                    {{ project.title }}
                    <span class="btn btn-danger pull-right btn-xs"
                            ng-click="remove_project(project.id)"
                            ng-show="show_delete_icon">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                </a>
            </li>
        </ul>

        <br />

        <button class="btn btn-primary btn-block"
                ng-show="!new_project_show"
                ng-click="new_project_show = !new_project_show">New Project</button>

        <form ng-show="new_project_show" class="">
            <div class="form-group">
                <input type="text" ng-model="new_project.title" class="form-control">
                <br />
                <textarea class="form-control" ng-model="new_project.description"></textarea>
            </div>
            <button class="btn btn-primary btn-block" ng-click="add_project()">Add</button>
        </form>

    </div>

    <div class="col-md-5">
        <h3>{{ current_project.title }}</h3>
        <p>{{ current_project.description }}</p>
    </div>

</div>